  body{
    font-family: Arial, Helvetica, sans-serif;
  }
  h1{
    color: rgb(0, 87, 145);
    margin-left: 30px;
}

  h2{
    color: rgb(0, 87, 145);
    margin-left: 30px;
}

  h3{
    color: rgb(0, 87, 145);
    margin-left: 30px;
}

  h5{
    color: rgb(0, 87, 145);
    margin-left: 30px;
  }

  .gen {
  margin-left: 30px
}

/* Horizontal button list*/
  .horiz_click_list {
    margin-left: 30px;
  }

  .horiz_click_list .normal_button{
    padding: 10px 10px;
    min-width: 200px;
    max-width: 200px;

    box-shadow:inset 0px 34px 0px -15px rgb(0, 153, 255);
    background:rgb(11, 133, 247);
    border:1px solid #4e6096;
    color: whitesmoke;
    text-shadow:0px -1px 0px #283966;
  }

  .horiz_click_list .normal_button:hover{
    background-color: rgb(0, 87, 145);
  }

  .horiz_click_list .small_button{
    padding: 10px 15px;
    min-width: 5%;
    max-width: 10%;

    box-shadow:inset 0px 34px 0px -15px rgb(0, 153, 255);
    background:rgb(11, 133, 247);
    border:1px solid #4e6096;
    color: whitesmoke;
    text-shadow:0px -1px 0px #283966;
  }

  .horiz_click_list .small_button:hover{
    background-color: rgb(0, 87, 145);
  }

 .arrow_button {
    box-shadow:inset 0px 40px 0px -15px rgb(0, 153, 255);
    background:rgb(11, 133, 247);
    color: whitesmoke;
    border: none;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border:1px solid #4e6096;
  }
  
  .arrow_button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .arrow_button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .arrow_button:hover span {
    padding-right: 25px;
  }
  
  .arrow_button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .horiz_click_list .title{
    color: rgb(0, 87, 145);
    font-size: 1.17em;
    margin-block-start: 0.5em;
  }

  .horiz_click_list input{
    padding: 9px 12px;
    margin: 0px 0px;
    margin-bottom: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 14px;
    background-color: aliceblue;
  }
/* End horizontal button list*/


/* Vertical selection list*/
  .vert_select_list{
    margin-left: 30px;

  }
  .vert_select_list .subject{
    color: rgb(0, 87, 145);
    font-size: 18px;
  }
  .vert_select_list input{
    padding: 9px 12px;
    margin: 0px 0px;
    margin-bottom: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 14px;
    background-color: aliceblue;
  }
  .vert_select_list select{
    padding: 8px 12px;
    margin: 0px 0px;
    margin-bottom: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 14px;
    background-color: aliceblue;
  }

  .vert_select_list .column{
    float: left;
    padding-right: 15px;
    height: auto;
    width: 25%;
  }

  .vert_select_list .column input[type=text]{
    width: 90%;
  }

  .vert_select_list .column select{
    width: 90%;
  }

/*  .vert_select_list .column label{
    font-weight: bold;
  }
*/
  .row:after{
    content: "";
    display: table;
    clear: both;
  }

  .vert_select_list label{
    text-decoration: solid;
    font-weight:500;
  }
/* End vertical selection list*/

/* Data Box */
  .data_box{
    margin-left: 30px;
  }

  .data_box .subject{
    color: rgb(0, 87, 145);
    font-size: 18px;
  }

  .data_box .data{
    padding-left: 7px;
    overflow: auto;
  }
/* End data box */

/* Bordered Data Box */
.data_box_bordered{
  margin-left: 30px;
  border-style: solid;
  border-width: 2px;
  border-color: #ccc;
  border-radius: 5px;
}

.data_box_bordered .subject{
  color: rgb(0, 87, 145);
  font-size: 18px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-color: #ccc;
  border-bottom-style: solid;
  border-width: 1px;
}

.data_box_bordered .data{
  padding-left: 7px;
  overflow: auto;
}
/* End bordered data box */


/* Middle division */
  * {
    box-sizing: border-box;
  }
  
  .mid_col {
    float: left;
    width: 50%;
    max-width: 50%;
    padding: 10px;
    overflow:inherit
  }

  /* Clear floats after the columns */
  .mid_div:after {
    content: "";
    display: table;
    clear: both;
  }
/* End middle division */

/* Gen button */
  .gen_button {
    padding: 10px 15px;
    min-width: 50px;
    margin: 5px;
    margin-right: 0px;
    border: #ccc;
    border-width: 100px 1px;
    background-color: aliceblue;
  }
  .gen_button:hover{
    background-color: rgba(204, 204, 204, 0.329);
  }
/* End gen button */
 
/* Gen input */
  .gen_input{
    padding: 10px 15px;
    min-width: 200px;
    max-width: 200px;
    min-height: 15px;
    min-height: 15px;
    margin: 5px;
    margin-right: 0px;
    border: #ccc;
    background-color: aliceblue;
  }

/* End gen input*/

/* Response list */
  .message_list{
    margin-left: 30px;
  }

  .message_list .subject{
    color: rgb(0, 87, 145);
    font-size: 18px;
  }

  .message_list table{
    overflow: auto;
    border-width: thick;
    border-collapse: separate;
    border-spacing: 0px 0px;
    margin-bottom: 15px;
  }

  .message_list .rcv_table{
    border: 1px solid dodgerblue;
  }

  .message_list .snd_table{
    border: 1px solid green;
  }


  .message_list table tr{
    text-align: left;
    margin-top: 2px;
    background-color: white;
  }

  .message_list table th{
    text-align: left;
    font-weight: normal;
    padding: 10px 10px;
    color: white;
  }

  .message_list .rcv_table th{
    background-color: dodgerblue;
  }

  .message_list .snd_table th{
    background-color: green;
  }

  .message_list table td{
    font-weight: normal;
    padding: 5px 10px;
  }
  
  .message_list .response_typ{
    text-align: left;
  }

  .message_list .response_ts{
    text-align: right;
  }

  .message_list .request_ts{
    text-align: right;
  }

  .message_list .response_data_ts{
    text-align: right;
    font-size: small;
    color: darkslategrey;
  }

  .message_list .response_typ{
    text-align: left;
  }

  .message_list .response_butt{/*(⌐■_■)*/
    text-align: right;
  }
/* End data box */

/* Bordered Data Box */
.data_box_bordered{
  margin-left: 30px;
  border-style: solid;
  border-width: 2px;
  border-color: #ccc;
  border-radius: 5px;
}

.data_box_bordered .subject{
  color: rgb(0, 87, 145);
  font-size: 18px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-color: #ccc;
  border-bottom-style: solid;
  border-width: 1px;
}

.data_box_bordered .data{
  padding-left: 7px;
  overflow: auto;
}
/* End bordered data box */
/* End response list */

/* For styling options in select */
.green_text {
  color : green;
}
.orange_text {
  color : orange;
}
.red_text {
  color : red;
}

/* Bordered Data Box */
.token_container{
  overflow: auto;
}

.token_box{
  float: left;
  margin-left: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

.token_box .subject{
  color: rgb(0, 87, 145);
  overflow: auto;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-color: #ccc;
  border-bottom-style: solid;
  border-width: 1px;
}

.token_box .subject button{
  float: inline-end;
  padding-left: 7px;
  margin: 5px;
}

.token_box .data{
  padding-left: 7px;
  padding-right: 7px;
  overflow: auto;
}

.token_box .details{
  color: rgb(66, 66, 66);
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  border-color: #ccc;
  border-top-style: solid;
  border-width: 1px;
}

.token_box .details .red{
  color: red;
}

.token_box .details .green{
  color: green;
}
